.btn-modal {
    position: absolute;
    z-index: 900; /*Указывает на сколько выше всех отображать данный элемент*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: #fff;
    text-decoration: none;
    background-color: #83bec5;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}

.btn-modal:hover {
    background-color: #527c82;
}